body {
  line-height: 1;
}
/* header */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #5d4b33;
  background-color: #5d4b33;
}
.navbar .container {
  position: relative;
}
.navbar .navbar-header {
  position: relative;
}
.navbar .navbar-toggle {
  position: absolute;
  right: 45%;
  border-color: #f07818;
  background-color: #f07818;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  border-color: #f07818;
  background-color: #f07818;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  padding: 8px .4rem 8px 15px;
}
.navbar .navbar-collapse {
  margin: 0;
  padding: 0;
  border-top: 0;
  box-shadow: none;
  text-align: center;
}
.navbar .navbar-nav > li > a {
  color: #ffffff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar .navbar-nav > li.open > a,
.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  color: #ffffff;
  border-color: #78664b;
}
.navbar .navbar__left {
  margin: 0 auto;
}
.navbar .navbar__left > li > a:hover {
  background-color: transparent;
}
.navbar .navbar__left > li > a:focus {
  color: #ffffff;
}
.navbar .navbar__left > li.active > a,
.navbar .navbar__left > li.active > a:hover,
.navbar .navbar__left > li.active > a:focus {
  color: #ffffff;
  background-color: #f07818;
}
.navbar .navbar__left > li.open > a,
.navbar .navbar__left > li.open > a:hover,
.navbar .navbar__left > li.open > a:focus {
  background-color: #f07818;
}
.navbar .navbar__left .caret {
  margin-left: 12px;
}
.navbar .navbar__left .menu__classify {
  padding: 0;
  text-align: center;
  list-style: none;
}
.navbar .navbar__left .menu__classify .dropdown-header {
  padding: .06rem 0;
  color: #f07818;
  font-size: 14px;
  font-weight: bold;
}
.navbar .navbar__left .menu__classify .divider {
  margin: 0 0 .06rem 0;
}
.navbar .navbar__left .menu__classify a {
  display: block;
  padding: .1rem 0;
  font-size: 12px;
  color: #f2f6f7;
  text-decoration: none;
}
.navbar .navbar-right {
  position: absolute;
  top: 0;
  right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0;
}
.navbar .navbar-right > li {
  display: inline-block;
  width: 51px;
}
.navbar .navbar-right > li.open > a,
.navbar .navbar-right > li.open > a:hover,
.navbar .navbar-right > li.open > a:focus {
  background-color: #5d4b33;
}
.navbar .navbar-right > li.open > .dropdown-menu {
  position: absolute;
  background-color: #ffffff;
}
.navbar .navbar-right > li > a {
  height: 50px;
  padding: 15px;
  font-size: 20px;
}
.navbar .navbar-right .dropdown-menu {
  font-size: 12px;
  border: 1px solid transparent;
}
.navbar .navbar-right .dropdown-menu > .triangle {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: 16px;
}
.navbar .navbar-right .dropdown-menu > .triangle > span {
  font-size: 16px;
  color: #ffffff;
}
.navbar .navbar-right .dropdown-menu .btn {
  width: 100%;
  border-radius: 0;
  border-color: #f07818;
  color: #ffffff;
  background-color: #f07818;
}
.navbar .navbar-right .dropdown-menu .btn:focus {
  outline: 0;
}
.navbar .navbar-right .menu__search {
  left: -115px;
  padding: 15px;
  border-radius: 0;
  box-shadow: none;
}
.navbar .navbar-right .menu__search .input-group {
  width: 130px;
}
.navbar .navbar-right .menu__search .input-group .form-control {
  border-radius: 0;
  border-color: #f07818;
}
.navbar .navbar-right .menu__search .input-group .form-control:focus {
  border-color: #f07818;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.navbar .navbar-right .menu__user {
  left: -165px;
  min-width: 180px;
  padding: 12px;
  color: #888888;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.06rem rgba(0, 0, 0, 0.1);
}
.navbar .navbar-right .menu__user .form-group {
  margin-bottom: .1rem;
}
.navbar .navbar-right .menu__user .form-group .form-control {
  height: 28px;
  border-radius: 0;
}
.navbar .navbar-right .menu__user .form-group .form-control:focus {
  border-color: #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.navbar .navbar-right .menu__user .checkbox {
  margin: .06rem 0;
  line-height: 1.85;
  font-style: italic;
}
.navbar .navbar-right .menu__user .checkbox label {
  font-weight: 700;
}
.navbar .navbar-right .menu__user .form__link {
  width: 100%;
  text-align: center;
  padding-top: 0.04rem;
}
.navbar .navbar-right .menu__user .form__link a {
  color: #888888;
  text-decoration: none;
}
.navbar .navbar-right .menu__user .form__link a.register {
  color: #f07818;
}
.navbar .navbar-right .menu__user .form__link .line {
  padding: 0 .03rem;
  font-size: .16rem;
  color: #f07818;
}
.navbar .navbar-right .menu__cart {
  left: -108px;
  padding: 10px;
  border-radius: 0;
  box-shadow: none;
}
.navbar .navbar-right .menu__cart > .triangle {
  right: .34rem;
}
.navbar .navbar-right .menu__cart > .sum {
  font-size: 14px;
  text-align: center;
  line-height: 38px;
}
/* banner */
.banner {
  padding: 1.7rem 0 .7rem 0;
  background-color: #f2f6f7;
}
.banner .banner__txt {
  color: #f07818;
}
.banner .banner__txt .banner__title {
  margin: 0;
  font-size: .74rem;
  line-height: 1;
}
.banner .banner__txt .banner__title img {
  height: .74rem;
  vertical-align: bottom;
  margin-right: .18rem;
}
.banner .banner__txt .banner__subtitle {
  font-size: .18rem;
  line-height: 1;
  margin: .26rem 0 .43rem 0;
}
.banner .banner__txt .banner__btn {
  padding: .12rem .68rem;
  color: #5d4b33;
  font-size: .18rem;
  font-weight: bold;
  border: 0.07rem solid #5d4b33;
  background-color: #ffffff;
}
.banner .banner__txt .banner__btn:focus {
  outline: 0;
}
.banner .banner__img img {
  width: 4rem;
}
/* gallery */
.gallery {
  padding: 1rem 0;
}
.gallery .cake {
  padding: 10px 15px 20px 15px;
}
.gallery .cake .cake__img-box {
  position: relative;
  cursor: pointer;
}
.gallery .cake .cake__img-box .cake__img {
  width: 100%;
}
.gallery .cake .cake__img-hover {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  padding: 12px 15px;
  line-height: 30px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.75);
}
.gallery .cake .cake__img-hover .glyphicon {
  vertical-align: middle;
  font-size: 12px;
  margin-right: 5px;
}
.gallery .cake .cake__img-hover .btn {
  padding: 5px 15px;
  font-size: 12px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
}
.gallery .cake .cake__img-hover .btn:hover {
  color: #f07818;
  border-color: #f07818;
}
.gallery .cake .border_gray {
  border: 1px solid #f2f6f7;
}
.gallery .cake .cake__name {
  margin: .2rem 0;
  font-size: .14rem;
  font-weight: bold;
  color: #000000;
}
.gallery .cake .cake__price {
  font-size: .2rem;
  color: #888888;
}
.gallery .cake__responsive_md,
.gallery .cake__responsive_sm {
  width: 50%;
}
.gallery .cake__responsive_md .cake__img-box .cake__img,
.gallery .cake__responsive_sm .cake__img-box .cake__img {
  height: 5.8rem;
}
/* subscribe */
.subscribe {
  padding: 1rem 0;
  background: url('../img/slid.jpg') center / cover no-repeat;
}
.subscribe .container {
  padding: 0;
}
.subscribe .subscribe__title {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
  margin-bottom: .4rem;
}
.subscribe .input-group {
  margin: 0 auto;
}
.subscribe .input-group .form-control {
  width: 4.28rem;
  min-width: 240px;
  height: .48rem;
  min-height: 36px;
  font-size: 12px;
  color: #ffffff;
  border-color: transparent;
  border-radius: 0;
  background-color: rgba(136, 136, 136, 0.8);
}
.subscribe .input-group .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
.subscribe .input-group .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.subscribe .input-group .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.subscribe .input-group .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.subscribe .input-group .btn {
  width: 1.42rem;
  min-width: 80px;
  height: .48rem;
  min-height: 36px;
  border-color: #f07818;
  border-radius: 0;
  font-size: 12px;
  color: #ffffff;
  background-color: #f07818;
}
.subscribe .input-group .btn:hover {
  color: #f07818;
  border-color: #f07818;
  background-color: rgba(136, 136, 136, 0.8);
  transition: background-color 0.5s linear;
}
/* footer-bottom */
.footer-bottom {
  padding: .75rem;
  background-color: #f2f6f7;
}
.footer-bottom .footer-bottom__list {
  padding-right: 0;
}
.footer-bottom .footer-bottom__list-title {
  margin: 30px 0 15px;
  padding-left: 10px;
  font-size: 16px;
  color: #f07818;
}
.footer-bottom .nav > li > a {
  padding-left: 10px;
  padding-right: 0;
  color: #888888;
  font-size: 12px;
}
.footer-bottom .nav > li > a:hover {
  background-color: #f2f6f7;
}
/* footer */
.footer {
  display: table;
  width: 100%;
  height: 80px;
  text-align: center;
  color: #ffffff;
  background-color: #5d4b33;
}
.footer .footer__box {
  display: table-cell;
  vertical-align: middle;
}
.footer .footer__box .footer__txt {
  margin: 0;
  font-size: 12px;
}
@media (min-width: 576px) {
  /* banner min-width: 576px */
  .banner .banner__txt .banner__subtitle {
    letter-spacing: .08rem;
  }
  /* gallery min-width: 576px */
  .gallery .cake__responsive_lg .cake__img-box .cake__img,
  .gallery .cake__responsive_md .cake__img-box .cake__img {
    height: 4.15rem;
  }
  .gallery .cake__responsive_sm {
    width: 25%;
  }
  .gallery .cake__responsive_sm .cake__img-box .cake__img {
    height: 3rem;
  }
  .gallery .cake__responsive_lg {
    width: 66.66666667%;
  }
  .gallery .cake__responsive_md,
  .gallery .cake__responsive_sm {
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  /* header min-width: 768px */
  .navbar .navbar-nav > li > a {
    height: auto;
    line-height: 50px;
    padding: 0 .15rem;
    border-left: 1px solid #78664b;
  }
  .navbar .navbar__left .dropdown-menu {
    width: 6.1rem;
    padding: 0;
    border-top: 1px solid #ffffff;
  }
  .navbar .navbar__left .menu_short {
    width: 4.65rem;
  }
  .navbar .navbar__left .menu__classify {
    width: 1.45rem;
    text-align: left;
    padding: .25rem 0 .25rem .3rem;
  }
  .navbar .navbar__left .menu__classify a {
    color: #888888;
  }
  .navbar .navbar__left .menu__classify_2,
  .navbar .navbar__left .menu__classify_3 {
    position: absolute;
    top: 0;
  }
  .navbar .navbar__left .menu__classify_2 {
    left: 1.45rem;
  }
  .navbar .navbar__left .menu__classify_3 {
    left: 2.9rem;
  }
  .navbar .navbar-right {
    right: 30px;
  }
  .navbar .navbar-right > li {
    width: auto;
  }
  .navbar .navbar-right > li .dropdown-menu > .triangle {
    top: -0.16rem;
    right: .23rem;
  }
  .navbar .navbar-right > li .dropdown-menu > .triangle > span {
    font-size: .22rem;
  }
  .navbar .navbar-right .menu__search {
    left: auto;
    right: .06rem;
    padding: .26rem;
  }
  .navbar .navbar-right .menu__search .input-group {
    width: auto;
  }
  .navbar .navbar-right .menu__search .input-group .form-control {
    width: 1.34rem;
  }
  .navbar .navbar-right .menu__search .input-group .input-group-btn {
    width: .58rem;
  }
  .navbar .navbar-right .menu__user {
    left: auto;
    right: .02rem;
    width: 2.70rem;
  }
  .navbar .navbar-right .menu__cart {
    left: auto;
    right: -0.1rem;
    padding: .12rem;
  }
  /* subscribe min-width: 768px */
  .subscribe .subscribe__title {
    font-size: .4rem;
  }
}
@media (min-width: 992px) {
  /* header min-width: 992px */
  .navbar .navbar-brand {
    padding: .12rem .4rem .12rem 15px;
  }
  .navbar .navbar-nav > li > a {
    line-height: .64rem;
  }
  .navbar .navbar__left > li > a {
    padding: 0 .2rem;
  }
  .navbar .navbar__left > li > a:hover {
    background-color: #f07818;
  }
  .navbar .navbar__left .menu__classify .dropdown-header {
    font-size: .16rem;
  }
  .navbar .navbar__left .menu__classify a:hover {
    color: #f07818;
  }
  .navbar .navbar-right > li > a {
    padding: 0 .175rem;
    font-size: 26px;
  }
  .navbar .navbar-right .dropdown-menu .btn:hover {
    color: #f07818;
    background-color: #ffffff;
  }
  .navbar .navbar-right .input-group-btn > .btn:hover {
    color: #ffffff;
    background-color: #f07818;
  }
  /* banner min-width: 992px */
  .banner .banner__txt .banner__btn:hover {
    color: #f07818;
    border-color: #f07818;
  }
  /* gallery min-width: 992px */
  .gallery .cake:hover .cake__img-hover {
    display: block;
  }
  .gallery .cake .border_gray:hover {
    border-color: #888888;
  }
  .gallery .cake__responsive_sm {
    width: 25%;
  }
  .gallery .cake__responsive_sm .cake__img-box .cake__img {
    height: 2.65rem;
  }
  /* footer-bottom min-width: 992px */
  .footer-bottom .nav > li > a:hover {
    color: #f07818;
  }
}
@media (min-width: 1200px) {
  /* header min-width: 992px */
  .navbar .navbar-brand {
    padding: .15rem .4rem .15rem 15px;
  }
  .navbar .navbar-nav > li > a {
    line-height: .64rem;
  }
  .navbar .navbar__left > li > a {
    padding: 0 .25rem;
  }
  .navbar .navbar-right > li > a {
    padding: 0 .2rem;
  }
  /* footer-bottom min-width: 992px */
  .footer-bottom .footer-bottom__list-title {
    font-size: 20px;
  }
}
